@model IEnumerable<SampleASP.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>List Of Student</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@Html.Raw(ViewData["pesan"])
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                 <a class="btn btn-info btn-sm" asp-action="Details" 
                    asp-route-id="@item.StudentID">details</a>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" 
                    asp-route-id="@item.StudentID">edit</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" 
                    asp-route-id="@item.StudentID">delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
