@model  List<SampleASP.Models.Student>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div>
    <table class="table table-striped">
        <tr>
            <th>StudentID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Enrollment Date</th>
            <th></th>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.EnrollmentDate.ToShortDateString()</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Details" 
                    asp-route-id="@student.StudentID">details</a>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" 
                    asp-route-id="@student.StudentID">edit</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" 
                    asp-route-id="@student.StudentID">delete</a>
                </td>
            </tr>
        }
    </table>
</div>